@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.color-blue {
	color: #A79ECD;
}
.color-red {
	color: #ff0000;
}
.logo {
	width: 50px!important;
}
.header-logo {
	font-size: 14px;
	color:#000000;
	text-align: right;
}
@media only screen and (max-width: 596px) {
	.header-logo {
		text-align: center;
	}
 }
.icon-social {
	max-width: 40px;
}
.text-social {
	font-size: 12px;
}
.free {
	padding: 10px;
	background-color: #1f7540;
	color:#ffffff;
}
// table.button table td {
// 	border: none;
// 	border-radius: 20px;
// }
// table.button.btn-empty table td {
// 	background-color: transparent;
// 	border: none;
// }
// table.button.btn-empty table td a {
// 	background-color: transparent;
// 	border: 1px solid #367AD1;
// 	color: #367AD1!important;
// }
// table.button.btn-empty table td a:hover {
// 	color: #367AD1;
// }
.bg-blue {
	background-color: #A79ECD!important;
}
.line {
	border-top: 3px solid #A79ECD!important;
}
.link {
	text-decoration: underline;
}
.footer-icon {
	width: 30px;
	height: 30px;
}
.footer-link {
	color:#000000;
	text-decoration: underline;
}
small {
	font-size: 10px;
	color:#000000;
}
@media only screen and (max-width: 600px) {
	table.body .container.bg-blue {
		width: 100%!important;
	}
}