@import 'settings';
@import 'foundation-emails';

@import 'template/template';

.bg-color-header {
	background-color: #E5E5E5!important;
}
.bg-color-main {
	background-color: #929698!important;
}
.bg-color-block {
	background-color: #ffffff!important;
	border-radius: 10px;
}
.f-12 {
	font-size: 12px;
}
.percent {
	font-size: 24px;
	color: #DE4C3C;
}
.bg-color-gray {
	width: calc(100% - 32px) !important;
	margin: 0 15px;
	background-color: #E8E8E8 !important;
	border-radius: 10px;
}
.color-blue {
	font-weight: 700;
	color: #367AD1;
}

.title {
	padding-left: 16px;
}
.logo {
	max-width: 400px!important;
}
.header-logo {
	font-size: 14px;
	color:#ffffff;
	text-align: right;
}
@media only screen and (max-width: 596px) {
	.header-logo {
		text-align: center;
	}
}
.link {
	color: #000000 !important;
	text-decoration: underline;

	&:hover {
		color:#000000;
		text-decoration: none;
	}
}
// .text-social {
// 	font-size: 12px;
// }
// .free {
// 	padding: 10px;
// 	background-color: #1f7540;
// 	color:#ffffff;
// }
// table.button table td {
// 	border-radius: 15px;
// }
.col-1 tbody th {
}
.col-2 tbody th {
	padding: 0 20px 0 0;
}
table.button.btn-primary table td {
	border: none;
	background-color: transparent;
}
table.button.btn-primary table td a {
	padding: 10px 50px;
	color: #000000!important;
	border-radius: 15px;
	background-color: #FFB000;
	border: 2px solid #FFB000;
}
table.button.btn-empty table td {
	background-color: transparent;
	border: none;
}
table.button.btn-empty table td a {
	padding: 10px 50px;
	color: #000000!important;
	background-color: transparent;
	border: 2px solid #97D3DE;
	border-radius: 15px;
}
table.button.btn-empty table td a:hover {
	color: #000000;
}
.footer {
	border-radius: 10px;
}
.footer-icon {
	width: 30px;
	height: 30px;
}
.footer-link {
	color:#ffffff !important;
	text-decoration: underline;

	&:hover {
		color:#ffffff;
		text-decoration: none;
	}
}
small {
	font-size: 10px;
	color:#ffffff;
}
@media only screen and (max-width: 596px) {
	table.body .container {
		width: 100% !important;
	}
}
